.map-container{
	display: flex;
	flex-direction: column;
	padding-top: 91px;
	height: auto;
	text-align: center;
}

.map-container h1{
	padding-top: 10px;
	padding-bottom: 10px;
}

.map-container iframe{
	width: 100%;
	height: calc(100vh - 238px);
}

/* SMART DEVICES */
@media screen and (min-width: 500px){

	.map-container{
		padding-top: 56px;
	}

	.map-container iframe{
		width: 100%;
		height: calc(100vh - 208px);
	}

}