footer{
	background-color: rgb(0, 0, 0);
	width: 100%;
	height: auto;
	color: rgb(255, 255, 255);
}

.contact-sect{
	position: relative;
	margin: 0 auto;
}

.contact-sect h2, .chev i{
	text-align: center;
	font-weight: 600;
}

/* GET IN TOUCH - CHEVRON */
h2 a{
	color: rgb(255, 255, 255);
}

h2 a:hover{
	color: rgb(255, 71, 71);
}

.contact-sect h1, .contact-sect h2,
.contact-sect h4, .contact-sect p{
	padding: 0 10px;
}

.contact-sect h1{
	font-weight: 200;
	text-align: left;
	margin-bottom: 3px;
}
.contact-sect h4{
	font-size: 200;
}

.contact-sect p{
	font-size: 20px;
}

.contact-link{
	margin-bottom: 15px;
}

.contact-link a{
	color: inherit;
}

.contact-link a:hover{
	text-decoration: underline;
}

.view-map-lnk{
	color: inherit;
}

.em{
	font-weight: 400;
}

.em:hover{
	text-decoration: underline;
	color: rgb(240, 109, 255);
}

.icon a{
	font-size: 65px;
}

.icon a:hover{
	color: rgb(35, 222, 241);
}

.icon-2 a:hover{
	color: rgb(87, 247, 2);
}

.bk-top{
	font-size: 17px;
	font-weight: 200;
}

/* SMART DEVICES  */
@media screen and (min-width:  500px){

	.contact-sect h1,  .contact-sect h2,
	.contact-sect h4, .contact-sect p{
		padding: 0 20px;
	}
}