*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Zilla Slab', serif;
  color: rgb(0, 0, 0);
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

.pointer{
  cursor: pointer;
}

.landing-page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding-top: 91px;
  margin: 0 auto;
}

.welcome{
  height: calc(100vh - 91px);
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  overflow-x: hidden;
}

.wel-container{
  margin: auto auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border: solid 5px rgba(0, 0, 0, 1.0);
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: .8s;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.wel-container:hover{
  transform: scale(.97);
}

.wel-container:active{
  transform: scale(.95);
  transition: .2s;
}

.intro{
  text-align: center;
  margin: auto auto;
  font-size: 30px;
  font-weight: 600;
  padding: 5px 10px;
}

.scroll-chev{
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
}

/* INFORMATION SECTIONS */
.information-sect{
  width: 100%;
  height: auto;
  padding: 91px 5px 56px 5px;
}

.information-sect h1{
  text-align: center;
  margin-bottom: 56px;
  font-size: 50px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: .8s;
  overflow-x: hidden;
}

.information-sect h1:hover{
  transform: scale(1.1);
}

.info-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: .8s;
}

.info-container:hover{
  transform: scale(.97);
}

.info-container h2, .info-container p{
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
}

.info-container h2{
  margin-bottom: 10px;
}

.info-container p{
  font-weight: 600;
}

.info-container p > a{
  text-decoration: underline;
  color: inherit;
}

.info-column{
  display: flex;
  flex-direction: column;
  margin: auto auto;
  overflow-x: hidden;
}

.network-icon i{
  font-size: 150px;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  padding-bottom: 20px;
}

.info-mobile-view{
  width: 80%;
  max-width: 250px;
  margin: 40px auto 0 auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  border: solid 8px rgb(0, 0, 0);
  border-bottom: solid 20px rgb(0, 0, 0);
  border-radius: 7px;
  overflow-x: hidden;
}

.branding-logo{
  margin: 40px auto 0 auto;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  width: 80%;
  max-width: 250px;
  overflow-x: hidden;
}

.col-alternative{
  flex-direction: column !important;
}

/* SMART DEVICES  */
@media screen and (min-width: 319px){

  .intro{
    font-size: 32px;
  }

}

@media screen and (min-width:  359px){

  .intro{
    font-size: 35px;
  }

}

@media screen and (min-width: 374px){

  .intro{
    font-size: 38px;
  }

}

@media screen and (min-width: 410px){

  .intro{
    font-size: 43px;
  }

}

@media screen and (min-width: 500px){

  .landing-page{
    padding-top: 56px;
  }

  .welcome{
    height: calc(100vh - 56px);
  }

  .intro{
    font-size: 48px;
  }

  .information-sect{
    padding-top: 56px;
  }

  .info-container p{
    font-size: 20px;
  }

}

@media screen and (min-width: 600px){

  .intro{
    font-size: 50px;
  }

}

@media screen and (min-width: 730px){

  .info-container{
    flex-direction: row-reverse;
  }


  .row-alternative{
    flex-direction: row !important;
  }

  .info-column{
    padding-left: 30px;
  }

  .row-alternative h2, .row-alternative p{
    text-align: right;
    padding-left: 0 !important;
    padding-right: 30px !important;
  }

  .info-container h2{
    font-size: 45px;
  }

  .info-container p{
    font-size: 25px;
  }

  .info-container img{
    margin: 0 auto;
  }

}
