*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Zilla Slab', serif;
  background-color: rgb(255, 71, 71);
  color: rgb(0, 0, 0);
}

a{
  text-decoration: none;
}

.landing-page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding-top: 91px;
  margin: 0 auto;
}

.welcome{
  height: calc(100vh - 91px);
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
}

.wel-container{
  margin: auto auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border: solid 5px rgba(0, 0, 0, 1.0);
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.need-web{
  text-align: center;
  margin: auto auto;
  font-size: 60px;
  font-weight: 600;
  padding: 5px;
}

.scroll-chev{
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
}


/* INFO SECTION */
.info-section-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}

.info-section-row{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 90%;
  max-width: 1350px;
  margin: auto auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border: solid 5px rgba(0, 0, 0, 1.0);
  padding: 20px 5px;
}

.mobile-view-heading{
  text-align: center;
}

.desktop-view-heading{
  display: none;
}

.mobile-view-heading, .desktop-view-heading{
  font-size: 30px;
}

.section-img{
  width: 90%;
  height: auto;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.info-mobile-view, .info-mobile-view img,
.info-desktop-view, .info-desktop-view img{
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  margin: auto auto;
}

.info-mobile-view img, .info-desktop-view img{
  background-color: rgb(0, 0, 0);
  border: solid 6px rgb(0, 0, 0);
  border-bottom: solid 15px rgb(0, 0, 0);
  border-radius: 7px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  width: 80%;
}

.info-desktop-view{
  display: none;
}

.section-info{
  margin: auto auto;
  padding: 10px;
  max-width: 500px;
}

.section-info p{
  font-weight: 600;
}

/* SMART DEVICES  */
@media screen and (min-width: 319px){

  .need-web{
    font-size: 70px;
  }

  .section-info p{
    font-size: 18px;
  }

}

@media screen and (min-width:  359px){

  .need-web{
    font-size: 75px;
  }

  .section-info p{
    font-size: 20px;
  }

}

@media screen and (min-width: 374px){

  .need-web{
    font-size: 80px;
  }

}

@media screen and (min-width: 410px){

  .need-web{
    font-size: 89px;
  }

  .section-info p{
    font-size: 24px;
  }

}

@media screen and (min-width: 500px){

  .landing-page{
    padding-top: 56px;
  }

  .welcome{
    height: calc(100vh - 56px);
  }

  .need-web{
    font-size: 110px;
  }

  .info-mobile-view{
    display: none;
  }

  .info-desktop-view{
    display: flex;
  }

  .info-desktop-view img{
    width: 100%;
  }

}

@media screen and (min-width: 600px){

  .need-web{
    font-size: 110px;
  }

}

@media screen and (min-width: 900px){

  .info-section-row{
    flex-direction: row;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .info-sect-reverse{
    flex-direction: row-reverse;
  }

  .mobile-view-heading{
    display: none;
  }

  .desktop-view-heading{
    display: inline;
  }

  .section-info p{
    margin-top: 40px;
  }

}