.mywork-container{
	display: flex;
	height: auto;
	min-height: 100vh;
	width: 100%;
	max-width: 1500px;
	flex-direction: column;
	padding-top: 91px;
	margin: 0 auto;
}

.project-row{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}

.project-container{
	position: relative;
	display: flex;
	width: 100%;
	max-width: 400px;
	height: auto;
	margin: 0 auto;
	padding: 40px;
	text-align: center;
	text-decoration: none;
	transform: scale(1);
    transform-style: preserve-3d;
    transition: .5s;
}

.project-container:hover{
	transform: scale(.98);
}

.project-container:active {
    transform: scale(.97);
    transition: .2s;
}

.project-container a{
	display: flex;
	width: inherit;
	height: inherit;
	text-decoration: none;
}

.project-container img{
	width: inherit;
	height: auto;
	background-color: rgb(0, 0, 0);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
	border: solid 8px rgb(0, 0, 0);
 	border-bottom: solid 20px rgb(0, 0, 0);
 	border-radius: 7px;
}

.desktop-view{
	display: none;
}

.preview-overlay{
	position: absolute;
	display: flex;
	/* This changes with padding-container's padding - same value. */
	bottom: 40px;
	left: 40px;
	/* This changes with padding-container's padding - doubled the value. */
	width: calc(100% - 80px);
	height: calc(100% - 80px);
	border-radius: 7px;
}

.preview-overlay h1, .preview-overlay h2{
	color: rgb(255, 255, 255);
	margin: auto;
}

.bg-black-50{
	background-color: rgba(0, 0, 0, 0.5);
}

/* SMART DEVICES */
@media screen and (min-width: 500px){

	.mywork-container{
		padding-top: 56px;
	}

	.project-container{
		max-width: 2000px;
	}

	.desktop-view{
		display: inline;
	}

	.mobile-view{
		display: none;
	}

}

@media screen and (min-width:  900px){
	.project-row{
		flex-direction: row;
	}

}